*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}


/* FINAL */

html{
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    padding: 0em 5rem;
    min-width: 750px;
}

.logo{
    width: 8rem;
    padding-right: .5rem;
    border-right: .05rem solid #e8e8e8;
}

.navigation-bar{
    margin: 1rem 0;
    font-size: 1rem;
}

.menu-element{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    color: #a9a9a9;
    padding: 1em .5em 1em 0;
}
.site-navigation{
    text-decoration: none;
    padding: 1em .5em 1em 0;
}

.site-navigation:visited{
    color: #a9a9a9;
}

.site-navigation:hover{
    background-color: lightgrey;
}

.main-banner{
    position: relative;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/banner.jpg);
    width: 100%;
    height: 29rem;
    background-position: center;
    border-radius: 1rem;
    color: white;
}

.banner-text{
    position: absolute;
    bottom: 2rem;
}
.banner-title{
    font-size: 1.5rem;
    margin-left: 2rem;
    width: 50%;
    font-weight: 400;
    /* codice per puntini di sospensione oltre 2 righe */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.banner-info{
    font-size: 1rem;
    margin-left: 2rem;
    width: 50%;
    font-weight: 300;
    /* codice per puntini di sospensione oltre 2 righe */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-header-title{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
}
.main-header-subtitle{
    font-size: 1rem;
    font-weight: 300;
    color: #a9a9a9;
}
.sidebar{
    float: left;
    width: 20%;
}

.central{
    float: left;
    width: calc(60% - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
}

.site-footer{
    margin-top: .25rem;
}

/* DEBUG */
.debug .site-header{
    height: 15vh;
    background-color: #e579e6;
    max-height: 7em;
}

.debug .gallery{
    height: calc(35vh - .5rem);
    max-height: calc(35 / 15 * 7em);
    background-color: #e1d67a;
}

.debug .content{
    height: calc(40vh - .5rem);
    max-height: calc(40 / 15 * 7em);
    background-color: #0186ff;
}

.debug .main-header{
    height: 20%;
    background-color: #abcfe7;
}

.debug .sidebar{
    height: calc(80% - 1rem);
    background-color: #abcfe7;
}

.debug .central{
    height: calc(80% - 1rem);
    background-color: #abcfe7;
}

.debug .site-footer{
    height: calc(8vh - .25rem);
    max-height: calc(8 / 15 * 7em);
    background-color: #8801fee7;
}


